services:
  api:
    container_name: template_api
    depends_on:
      - mysql
    build:
      context: .
      dockerfile: fpm-dev.Dockerfile
#      dockerfile: fpm.Dockerfile
    environment:
      MYSQL_NAME: 'api_template'
      MYSQL_HOST: 'mysql'
      MYSQL_USER: 'root'
      MYSQL_SERVER_VERSION: '8.0.39'
      CORS_ALLOW_ORIGIN: '*'
    ports:
      - '9000:9000'
    volumes:
      - type: bind
        source: .
        target: /var/www/html
        consistency: delegated
      # mask product volume
      - type: volume
        source: public
        target: /var/www/nginx/public

  nginx:
    container_name: template_nginx
    depends_on:
      - api
    build:
      context: .
      dockerfile: nginx.Dockerfile
    volumes:
      - type: bind
        source: ./public
        target: /var/www/html/public
        consistency: delegated
    ports:
      - '8008:80'

  mysql:
    container_name: template_mysql
    image: mysql:8.0.39
    ports:
      - '4306:3306'
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    volumes:
      - db:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 3s
      retries: 10

volumes:
  db:
  public:
